.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 150px;
   position: relative;
}

.container-1 {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    margin-bottom: 37px;
}

.text-1 {

    font-size: 12px;
    line-height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
    cursor: pointer;
}

.text-2 {
    font-size: 12px;
    line-height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
}

.book-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.book-front-back {
    display: flex;
    flex-direction: column;
}

.book-front {
    width: 44px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #D1D1D1;
}

.img-size {
    width: 35px;
    height: 45px;
}

.img-with-button {
    width: 361px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.book-img {
    width: 361px;
    height: 413px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #D1D1D1 1px;
    
}

.book-img img {
    width: 282px;
    height: 367px;
    
}

.button-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   margin-left: -6px;
}

.button-1 {
    width: 170px;
    height: 40px;
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    color: white;
    border: none;
    font-size: 15px;
    line-height: 18px;
    font-variant: normal;
    font-style: normal;
    font-family: Lato;
    font-weight: medium;
    
}

.button-2 {
    width: 170px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background: #333333 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    color: white;
    border: none;
    font-size: 15px;
    line-height: 18px;
    font-variant: normal;
    font-style: normal;
    font-family: Lato;
    font-weight: medium;
    
}

.button-2 img {
    width: 15px;
    height: 14px;
}

.book-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 80px;
    row-gap: 10px;
    
}

.book-name {
    color: #0A0102;
    font-size: 28px;
    line-height: 37px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: medium;
}

.book-author {
    color: #878787;
    font-size: 18px;
    line-height: 24px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: medium;
}

.rating-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 55px;
    height: 25px;
    /* UI Properties */
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
}

.rating-number {
    font-size: 14px;
    line-height: 19px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: medium;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.quantity {
    font-size: 15px;
    line-height: 20px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: medium;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.price-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 15px;
}

.discounted-price {
    font-size: 30px;
    line-height: 29px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: medium;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.actual-price {
    font-size: 15px;
    line-height: 20px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: medium;
    text-decoration: line-through;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.divider-class {
    margin-top: 10px;
    orientation: horizontal;
    width: 551px;
    margin-bottom: 10px;
    border: 1px solid #9D9D9D;
    opacity: 0.47;
}

.description-class {
    
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.desc-1 {
    font-size: 15px;
    line-height: 20px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.content-class {
    margin-left: 20px;
    width: 522px;
    height: 71px;
    font-size: 12px;
    line-height: 16px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0px;
    color: #373434;
    opacity: 1;
    // word-wrap: break-word;
    // overflow-wrap: break-word;
    // white-space: pre-wrap;
    // white-space: pre-line;
    // white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feedback {
    font-size: 18px;
    line-height: 24px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    
}

.overall-rating-class {
    padding-left: 20px;
    padding-top: 20px;
    width: 557px;
    height: 192px;
    /* UI Properties */
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 0.63;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;
}

.overall-text {
    font-size: 12px;
    line-height: 16px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.stars {
    width: 173px;
    height: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
}

.star-size {
    width: 20px;
    height: 19px;
    opacity: 1;
    
}


.star-size:hover {
    width: 30px;
    height: 29px;
    background-color: gold;
    border-radius: 80%;
}

.star-size-1 {
    width: 18px;
    height: 15px;
}

.star-size-2 {
    width: 20px;
    height: 19px;
    opacity: 1;
    
}

.comment-input {
    width: 527px;
    height: 63px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    border: none;
    outline: none;
    opacity: 1;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.comment-input input {
    width: 250px;
    height: 20px;
    border: none;
    outline: none;
}

.submitting {
    margin-left: 455px;
    width: 76px;
    height: 24px;
    /* UI Properties */
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    color: #FFFFFF;
    opacity: 1;
    border: none;
}

.previews {
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 5px;
}

.name-review {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.symbol {
    height: 27px;
    width: 27px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0px;
    color: #707070;
    text-align: center;
    padding-top: 9px;
    opacity: 1;
}

.star-class {
    padding-left: 35px;
}

.comment-sect {
    padding-left: 20px;
}

.content-class-2 {
    margin-left: 20px;
    width: 522px;
    height: 71px;
    font-size: 12px;
    line-height: 16px;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0px;
    color: #373434;
    opacity: 1;
    // word-wrap: break-word;
    // overflow-wrap: break-word;
    // white-space: pre-wrap;
    // white-space: pre-line;
    // white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.previews-2 {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 551px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 5px;
}

.inc-dec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
}

.inc-dec button {
width: 35px;
height: 38px;
/* UI Properties */
background: #FAFAFA 0% 0% no-repeat padding-box;
border: 1px solid #DBDBDB;
border-radius: 50%;
font-size: 15px;
line-height: 20px;
opacity: 1;
}

.showCount {
    width: 66px;
    height: 38px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DBDBDB;
padding-top: 10px;
text-align: center;
border-radius: 2px;
opacity: 1;
font-size: 22px;
line-height: 27px;
font-style: medium;
font-family: Lato;
font-weight: normal;
font-variant: normal;
letter-spacing: 0px;
color: #333232;
}


/**********************/
.star {
    font-size: 24px;
    color: gray;
  }
  
  .highlighted {
    color: gold;
  }

@media screen and (max-width : 600px) {

    .main-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20px;
        margin-left: 0px;
    }
    .book-container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .book-front-back{
        display: flex;
        flex-direction: row;
        margin-bottom: -20px;
    }

    .img-with-button {
        width: 361px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .book-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        row-gap: 10px;
    }

    .divider-class {
        margin-top: 10px;
        orientation: horizontal;
        width: 361px;
        margin-bottom: 10px;
        border: 1px solid #9D9D9D;
        opacity: 0.47;
    }

    .description-class[_ngcontent-bdp-c36] {
        
        height: 95px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .content-class {
        margin-left: 20px;
        max-width: 340px;
        height: 71px;
        font-size: 12px;
        line-height: 16px;
        font-variant: normal;
        font-style: normal;
        font-family: Roboto;
        font-weight: normal;
        letter-spacing: 0px;
        color: #373434;
        opacity: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .overall-rating-class {
        padding-left: 20px;
        padding-top: 0px;
        width: 340px;
        height: 192px;
        margin-bottom: 50px;
        background: #F5F5F5 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 0.63;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 10px;
    }

    .comment-input {
        width: 300px;
        height: 63px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 3px;
        border: none;
        outline: none;
        opacity: 1;
        display: flex;
        padding-left: 10px;
        padding-top: 10px;
    }

    .submitting {
        margin-left: 230px;
        width: 76px;
        height: 24px;
        background: #3371B5 0% 0% no-repeat padding-box;
        border-radius: 2px;
        color: #FFFFFF;
        opacity: 1;
        border: none;
    }
}
