<div class="main-header">
    <div class="header-2">
        <div class="book-count">
            <span class="text-5">Books</span>
            <span class="text-6">({{bookArray.length}} items)</span>
        </div>
        <div>
            <select  class="sorting" >
                <option value="">Sort by relevance</option>
                <option value ="lowtohigh" >Price : Low To High</option>
                <option value ="hightolow" >Price : High To Low</option>
                <option value ="newArrivals" >Newest Arrivals</option>
            </select>
        </div>
    </div >
    <div>
        <app-displaybooks [getBooksArray]="bookArray "></app-displaybooks>
    </div>
</div>