<div class="main-container">
    <div class="mini-container">
        <div class="container-1">
            <span class="text-1" routerLink="/dashboard">Home </span>
            <span>/</span>
            <span class="text-2"> My Cart</span>
        </div>
        <div class="container-2">
            <mat-accordion  multi >
                <mat-expansion-panel [expanded]="firstPanelExpanded"    class="main-accordion" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="title-name">
                            My cart ({{cartBooks.length}})
                        </mat-panel-title>
                        <mat-panel-description class="title-seperator">
                            <div class="location-selector">
                                <img src="../../../assets/location-img-1.jpg" height="20px" width="18px" style="background: transparent;">
                                <span class="location-text">Use current location</span>
                                <img src="../../../assets/arrow_drop_down_black_18dp.svg" height="18px" width="12px" >
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="book-with-inc-dec" *ngFor="let book of cartBooks">
                        <div class="book-details">
                            <div>
                                <img src="../../../assets/Image 11.png" height="85px" width="65px">
                            </div>
                            <div class="book-info">
                                <span class="book-name">{{book.bookName}}</span>
                                <span class="book-author">by {{book.author}}</span>
                                <div class="price-info">
                                    <span class="disc-price">Rs.{{book.discountPrice}}</span>
                                    <span class="act-price">Rs.{{book.price}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="show-inc-dec">
                            <button class="inc-dec" (click)="decquantity(book.productID)">-</button>
                            <div class="showCount">{{book.quantity}}</div>
                            <button class="inc-dec" (click)="incquantity(book.productID)">+</button>
                            <span class="remove-book" (click)="removeBookFormCart(book.productID)">Remove</span>
                        </div>
                    </div>
                    <div>
                        <button mat-button (click)="onFirstPanelButtonClick()"  class="place-button" *ngIf="displayPlaceOrder">PLACE ORDER</button>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="secondPanelExpanded"   class="main-accordion" hideToggle>
                    <mat-expansion-panel-header *ngIf="showContent">
                        <mat-panel-title class="title-name">
                            Customer Details
                        </mat-panel-title>
                        <mat-panel-description *ngIf="displayContinueButton">
                            <button mat-button class="add-address-button">Add new Address</button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel-header *ngIf="!showContent">
                        <mat-panel-title class="title-name">
                            Address Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="main-address-content">
                        <div class="name-mobile">
                            <mat-form-field appearance="outline">
                                <mat-label>Full Name</mat-label>
                                <input matInput type="text" name="fullname" >
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Mobile number</mat-label>
                                <input matInput type="text" name="mobilenumber" >
                            </mat-form-field>
                        </div>
                        <div class="button-alignment">
                            <div class="work-content">
                                <div class="main-work-content">
                                    <div class="work-address">
                                        <div class="address-given">
                                            <label>Address</label>
                                            <input type="text" style="width: 512px; height: 82px;" name="address"  >
                                        </div>
                                        <div class="city-state">
                                            <div class="address-given">
                                                <label>city/town</label>
                                                <input type="text" style="width: 248px; height: 45px;" name="city"  >
                                            </div>
                                            <div class="address-given">
                                                <label>state</label>
                                                <input type="text" style="width: 248px; height: 45px;" name="state" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="address-type-container">
                                <label id="adddressType">Type</label>
                                <mat-radio-group aria-labelledby="addressType" class="radio-button-arrangement">
                                    <mat-radio-button value="home"  name="home">Home</mat-radio-button>
                                    <mat-radio-button value="work"  name="work">Work</mat-radio-button>
                                    <mat-radio-button value="other">Other</mat-radio-button>
                                  </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button class="details-confirm-button">CONTINUE</button>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel  class="main-accordion" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="title-name">
                            Order summery
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="book-with-inc-dec" *ngFor="let book of cartBooks">
                        <div class="book-details">
                            <div>
                                <img src="../../../assets/Image 11.png" height="85px" width="65px">
                            </div>
                            <div class="book-info">
                                <span class="book-name">{{book.bookName}}</span>
                                <span class="book-author">by {{book.author}}</span>
                                <div class="price-info">
                                    <span class="disc-price">Rs.{{book.discountPrice}}</span>
                                    <span class="act-price">Rs.{{book.price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="disc-price-1">Total Price Rs.{{totalcartPrice}}</span>
                        <button mat-button routerLink="orderPlace"   class="place-button">CHECKOUT</button>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</div>